.git
.github
.husky
.next/cache
.vscode
src
.env
.gitignore
.lintstagedrc.cjs
.prettierignore
.prettierrc
bun.lockb
bunfig.toml
Dockerfile
eslint.config.js
example.env
i18n.config.ts
package.json
postcss.config.js
README.md
tailwind.config.ts
tsconfig.json