# Node
NODE_ENV=development

BASE_URL=http://localhost:3000
REMOTE_URL=https://localhost:4000

# Cloudflare origin ca
CLOUDFLARE_ORIGIN_CA_KEY="-----BEGIN PRIVATE KEY-----
-----END PRIVATE KEY-----"
CLOUDFLARE_ORIGIN_CERTIFICATE="-----BEGIN CERTIFICATE-----
-----END CERTIFICATE-----"